*{
  margin: 0;
  padding: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  
/* nav start */

.small{
  display: none;
}

.main{
    background-color: hsla(32,100%,53%,0.1);
    margin-bottom: 85px;
}
  nav{
    display: flex;
    margin-left: 228px;
  }
  .title{
    font-weight: 700;
    font-size: 2.8rem;
    color: hsla(0,0%,7%,1);
    font-family: work sans;
    margin-top: 50px;
  }
  ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0 auto;
    margin-right: 240px;
    margin-top: 63px;
  }

  ul li a{
    font-size: 1.1rem;
    font-weight: 500;
    color: hsla(0,0%,25%,1);
    font-family: Work Sans;
  }


  .brand-main{
    text-align: center
  }
  .brand-title{
    font-size: 4rem;
    font-weight: 700;
    color: hsla(0,0%,7%,1);
    font-family: Work Sans;
  }
  .brand-subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: hsla(0,0%,45%,1);
    font-family: Work Sans;
    margin-top: 30px;
  }

  .brand-img{
    margin-right: 240px;
    margin-left: 140px;
    padding-bottom: 45px;
    width: 100%;
  }

  .brand-btn{
   max-width: 180px;
   max-height: 64px;
   
   background-color: hsla(32,100%,53%,1);
   border: none;
   border-radius: 8px;
   font-size: 1.2rem;
   font-weight: 600;
   padding: 21px 25px;
   color: white;
   margin-bottom: 50px;
   margin-top: 32px;

  }
  /* end banner */

  /* responsive device 576px */
  @media screen and (max-width:576px) {
    .nav, .ul{
        flex-direction: column;
    }
    .main{
      height: 700px;
      max-width: 100%;
    }

    .title{
      text-align: center;
      font-size: 2rem;
    }

    nav{
      display: flex;
      margin-left: 22px;
      flex-direction: column;
    }
  .small{
    text-align: start;
    display: inline;
  }

    ul{
      /* gap: 1.9rem;
     font-size: 1.5rem;
     margin-left: auto;
     margin-right: auto; */
     display: none;
     
    }

    .brand-title{
      font-size: 1.5rem;
      margin-left: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .brand-subtitle{
      margin-left: 10px;
      margin-right: 10px;
    }

    .brand-img{
     max-width: 300px;
      max-height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .brand-img img{
      max-width: 100%;
      position: relative;
      border-radius: 8px;
    }
  }